/* Global Classes */
h1 {
    font-family: 'Lilita One', cursive;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px black;
    font-size: 3em;
}

h3 {
    font-family: 'Chelsea Market', cursive;
}

/* Custom Classes */

.body-bg-halloween {
    margin-bottom: 80px;
    background-image: url("../images/castle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.invisible {
    color: transparent;
}

.game-area {
    position: fixed;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#player-area {
    position: fixed;
    left: 0%;
    bottom: 80px;
}

#player-stats {
    position: fixed;
    left: 4%;
    bottom: 60%;
    text-align: left;
}

#enemy-stats {
    position: fixed;
    right: 4%;
    bottom: 60%;
    text-align: left;
}

#action-area {
    margin-top: 30%;
    width: 20%;
    height: 150px;
    background: rgba(0, 0, 0, 0.7);
}

#enemy-area {
    position: fixed;
    bottom: 80px;
    right: 0%;
    text-align: right;
}

.choose-enemy {
    position: fixed;
    right: 4%;
    bottom: 40%;
    text-align: left;
}

.big-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}

.game-asset {
    background-color: yellow;
    margin: 10px;
    text-align: center;
}

.wrapper {
    display: flex;
    max-width: 85%;
    margin: auto;
}

.wrapper-slideout {
    animation-name: slideout;
    margin-left: -3000px;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.stats {
    width: 8em;
    float: right;
    display: flex;
    line-height: 1em;
    font-size: 1.25em;
    color: #ccc;
    font-weight: 600;
}

.stats-dark {
    width: 8em;
    float: right;
    display: flex;
    line-height: 1em;
    font-size: 1.25em;
    color: #212529;
    font-weight: 600;
}

.blink_me {
    animation: blinker 2.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

@keyframes slideout {  
    from { margin-left: 0; }
    to { margin-left: -3000px; }
}

@keyframes slidein {  
    from { margin-left: 3000; }
    to { margin-left: 0px; }
}


.hidden {
    display: none !important;
}

/* Bootstrap Overrides */

.col-12, .col-5 {
    padding: 0;
}

/* .navbar {
    background-color: rgba(47,79,79,0.1)
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  .footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 80px; /* Vertically center the text there */
    color: #fff;
    font-size: 0.5em;
  }
  .footer-table {
    background-image: url("../images/table.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height:140px; /* Vertically center the text there */
    color: rgba(255,255,255,0.5);
    font-size: 0.5em;
  }

/* font-family: 'Titan One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Chelsea Market', cursive;
font-family: 'Baloo Paaji', cursive;
font-family: 'Creepster', cursive;
font-family: 'Ranchers', cursive; */